@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}
.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.rbc-toolbar .rbc-btn-group {
  display: flex;
}

.rbc-toolbar .rbc-btn-group button {
  background-color: #f1f0ff;
  border: none;
  margin-left: 2px;
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
}

.rbc-toolbar .rbc-btn-group button.rbc-active {
  background-color: #dbdafe;
}

.rbc-toolbar-label {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  padding: 0px 20px;
}

.rbc-btn-group:last-child {
  font-size: 13px;
}

.rbc-btn-group:last-child button {
  border: none;
  background-color: #f1f0ff;
  margin-left: 2px;
}

.rbc-time-view {
  border-color: #eee;
}
.rbc-event-content{
  color:blue;
}
.rbc-time-content {
  border: none;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px;
}

.rbc-timeslot-group {
  background-color: #f7fdff;
}

.rbc-day-slot {
  font-size: 14px;
}

.rbc-event {
  border: none;
  color: black;
  padding: 10px;
  margin: 10px;
  width: 99%;
}

.rbc-event:nth-child(1) { background-color: #e2f8ff; }
.rbc-event:nth-child(2) { background-color: #fefce8; }
.rbc-event:nth-child(3) { background-color: #f2f1ff; }
.rbc-event:nth-child(4) { background-color: #fdf2fb; }
.rbc-event:nth-child(5) { background-color: #e2f8ff; }
.rbc-event:nth-child(6) { background-color: #fefce8; }
.rbc-event:nth-child(7) { background-color: #f2f1ff; }
.rbc-event:nth-child(8) { background-color: #fdf2fb; }

.rbc-event-label {
  color: gray;
  margin-bottom: 5px;
}

.react-select-container .react-select__control {
  background-color: #edf2f7 !important;
  border-color: #e2e8f0 !important;
}

.react-select-container .react-select__control:hover {
  border-color: #cbd5e0 !important;
}

.react-select-container .react-select__control--is-focused {
  box-shadow: 0 0 0 1px #4299e1 !important;
  border-color: #4299e1 !important;
}

.react-select-container .react-select__menu {
  background-color: white !important;
}

.react-select-container .react-select__option--is-focused {
  background-color: #ebf8ff !important;
}

.react-select-container .react-select__option--is-selected {
  background-color: #4299e1 !important;
}
/* Hide scrollbar by default for small screens */
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

/* Show scrollbar for medium screens and larger */
@media (min-width: 768px) { /* Adjust the 'md' breakpoint as per your design */
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
